@page "/login"

<Form Model="@Model"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed"
      LabelColSpan="8"
      WrapperColSpan="16">
    <FormItem Label="Логин">
        <Input @bind-Value="@context.UserName"/>
    </FormItem>
    <FormItem Label="Пароль">
        <InputPassword @bind-Value="@context.Password" />
    </FormItem>
    <FormItem Label="Запомнить меня">
        <Checkbox @bind-Value="@context.RememberMe" />
    </FormItem>
    <FormItem WrapperColOffset="8" WrapperColSpan="16">
        <Button Type="@ButtonType.Primary" HtmlType="submit">
            Войти
        </Button>
    </FormItem>
</Form>
