@page "/referencing"
@using AutoReferenceSystem.ApplicationServer.Domain.Dtos
@using AutoReferenceSystem.WebClient.Models

<PageContainer Title="Реферирование">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>Реферирование</BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>
    <Content>
        <span>Здесь вы можете получить пересказ исходного текста, выбрав все необходимые опции.</span>
    </Content>
    <ChildContent>
        <Card>
            <Title Level="3">Введите ваш текст для реферирования</Title>
            <TextArea @bind-Value="@Model.SourceText" Placeholder="Ваш текст..." MinRows="10" AutoSize="true" />
            <Divider />
            <br/>
            <br/>
            <Title Level="3">Выберите или перетащите файлы</Title>
            <Upload Action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                    Name="files"
                    Drag
                    Multiple
                     OnSingleCompleted="OnSingleCompleted">
                 <p class="ant-upload-drag-icon">
                     <Icon Type="inbox" />
                 </p>
                 <p class="ant-upload-text">Кликните или перетащите необходимые файлы для загрузки</p>
                 <p class="ant-upload-hint">
                     Поддерживаются форматы файлов: *.pdf, *.docx
                 </p>
             </Upload>
             <Divider />
             <br />
             <br />
             <Card Title="Настройки реферирования">
                 <CardTabs>
                     <Tabs Type="@TabType.Card" >
                         <TabPane Key="1" Tab="По типу решаемой задачи">
                             <Title Level="3">Решаемая задача</Title>
                             <div>
                                 <RadioGroup @bind-Value="@Model.ProblemType" Name="@nameof(ProblemType)">
                                     <Radio Style="@_style" Value="ProblemType.HighlightTheMainTheses">Выделить основные тезисы</Radio>
                                     <p class="fs-6">Будет построен список, содержащий самую важную информацию из всего текста</p>
                                     <Radio Style="@_style" Value="ProblemType.BuildReferencing">Построить полносвязный реферат</Radio>
                                     <p class="fs-6">Из исходного текста будет выделена основная информация и представлена в виде понятного, стилистически верного текста</p>
                                 </RadioGroup>
                             </div>
                             <Divider />
                             <br/>
                             <br/>                             
                             <Title Level="3">Объем реферата</Title>
                             <div>
                                 <RadioGroup @bind-Value="@Model.AbstractVolume" Name="@nameof(AbstractVolume)">
                                     <Space Direction="DirectionVHType.Vertical" Size="@AntSizeLDSType.Large">
                                         <Radio Style="@_style" Value="AbstractVolume.Relative">
                                             <Text>Относительный объем реферата</Text>
                                             <AntDesign.InputNumber @bind-Value="Model.AbstractRelativeVolume" Formatter="Format" Parser="Parse" DefaultValue="100d" Min="0" Max="100" />
                                         </Radio>
                                         <Radio Value="AbstractVolume.Absolute">
                                             <div>
                                                 <GridRow>
                                                     <Text>Абсолютный объем реферата</Text>
                                                 </GridRow>
                                                 <GridRow>
                                                     <GridCol Span="6"/>
                                                     <GridCol>
                                                         <RadioGroup @bind-Value="@Model.Measure" Name="@nameof(AbsoluteAbstractVolumeMeasure)">
                                                             <Space Direction="DirectionVHType.Vertical" Size="@AntSizeLDSType.Large">
                                                                 <Radio Style="@_style" Value="AbsoluteAbstractVolumeMeasure.WordsCount">
                                                                     <Text>Количество слов</Text>
                                                                     <AntDesign.InputNumber @bind-Value="Model.WordsCount" Min="1" Max="10" DefaultValue="3" PlaceHolder="Кол-во слов"></AntDesign.InputNumber>
                                                                 </Radio>
                                                                 <Radio Style="@_style" Value="AbsoluteAbstractVolumeMeasure.SentenciesCount">
                                                                     <Text>Количество предложений</Text>
                                                                     <AntDesign.InputNumber @bind-Value="Model.SentenciesCount" Min="1" Max="10" DefaultValue="3" PlaceHolder="Кол-во слов"></AntDesign.InputNumber>
                                                                 </Radio>
                                                             </Space>
                                                         </RadioGroup>
                                                     </GridCol>                                                    
                                                 </GridRow>
                                             </div>
                                         </Radio>
                                     </Space>
                                 </RadioGroup>
                             </div>
                             <div style="display:flex;gap:3em;margin-top:1em">
                                 <p class="mr-3">Используемая модель</p>
                                 <Select DataSource="@Model.Models" DropdownMaxWidth="200px"
                                         @bind-Value="@Model.SelectedModelId"
                                         LabelName="@nameof(LanguageModel.Name)"
                                         ValueName="@nameof(LanguageModel.Id)"
                                         Placeholder="Модель"
                                         AllowClear
                                         Style="width:200px">
                                </Select>
                             </div>
                         </TabPane>
                         <TabPane Key="2" Tab="Пользовательские">
                             <GridRow>
                                 <GridCol Span="12">
                                     <Title Level="3">Метод реферирования</Title>
                                     <RadioGroup @bind-Value="@Model.AbstractionMethod" Name="@nameof(AbstractionMethod)">
                                         <Space Direction="DirectionVHType.Vertical">
                                             <Radio Value="AbstractionMethod.Extraction">Экстракция</Radio>
                                             <Radio Value="AbstractionMethod.Abstraction">Абстракция</Radio>
                                         </Space>
                                     </RadioGroup>
                                 </GridCol>
                                 <GridCol Span="12">
                                     <Title Level="3">Получаемый результат</Title>
                                     <RadioGroup @bind-Value="@Model.ExpectedResult" Name="@nameof(ExpectedResult)">
                                         <Space Direction="DirectionVHType.Vertical">
                                             <Radio Value="ExpectedResult.ListOfAbstracts">Список тезисов</Radio>
                                             <Radio Value="ExpectedResult.Text">Текст</Radio>
                                         </Space>
                                     </RadioGroup>
                                 </GridCol>
                             </GridRow>
                             <Divider />
                             <br />
                             <br />
                             <Title Level="3">Объем реферата</Title>
                            @if (Model.ExpectedResult == ExpectedResult.Text)
                            {
                                <div>
                                    <RadioGroup @bind-Value="@Model.AbstractVolume" Name="@nameof(AbstractVolume)">
                                        <Space Direction="DirectionVHType.Vertical" Size="@AntSizeLDSType.Large">
                                            <Radio Style="@_style" Value="AbstractVolume.Relative">
                                                <Text>Относительный объем реферата</Text>
                                                <AntDesign.InputNumber Formatter="Format" Parser="Parse" DefaultValue="100d" Min="0" Max="100" />
                                            </Radio>
                                            <Radio Value="AbstractVolume.Absolute">
                                                <div>
                                                    <GridRow>
                                                        <Text>Абсолютный объем реферата</Text>
                                                    </GridRow>
                                                    <GridRow>
                                                        <GridCol Span="6" />
                                                        <GridCol>
                                                            <RadioGroup @bind-Value="@Model.Measure" Name="@nameof(AbsoluteAbstractVolumeMeasure)">
                                                                <Space Direction="DirectionVHType.Vertical" Size="@AntSizeLDSType.Large">
                                                                    <Radio Style="@_style" Value="AbsoluteAbstractVolumeMeasure.WordsCount">
                                                                        <Text>Количество слов</Text>
                                                                        <AntDesign.InputNumber Min="1" Max="10" DefaultValue="3" PlaceHolder="Кол-во слов"></AntDesign.InputNumber>
                                                                    </Radio>
                                                                    <Radio Style="@_style" Value="AbsoluteAbstractVolumeMeasure.SentenciesCount">
                                                                        <Text>Количество предложений</Text>
                                                                        <AntDesign.InputNumber Min="1" Max="10" DefaultValue="3" PlaceHolder="Кол-во слов"></AntDesign.InputNumber>
                                                                    </Radio>
                                                                </Space>
                                                            </RadioGroup>
                                                        </GridCol>
                                                    </GridRow>
                                                </div>
                                            </Radio>
                                        </Space>
                                    </RadioGroup>
                                </div>

                            }
                            else
                            {
                                <div style="display:flex;gap:3em;margin-top:1em">
                                    <p class="mr-3">Количество тезисов</p>
                                    <AntDesign.InputNumber Min="1" DefaultValue="7" PlaceHolder="Кол-во тезисов"></AntDesign.InputNumber>
                                 </div>
                            }
                            <div style="display:flex;gap:3em;margin-top:1em">
                                 <p class="mr-3">Используемая модель</p>
                                 <Select DataSource="@Model.Models" DropdownMaxWidth="200px"
                                         @bind-Value="@Model.SelectedModelId"
                                         LabelName="@nameof(LanguageModel.Name)"
                                         ValueName="@nameof(LanguageModel.Id)"
                                         Placeholder="Модель"
                                                AllowClear
                                         Style="width:200px">
                                 </Select>
                             </div>
                         </TabPane>
                     </Tabs>
                 </CardTabs>
             </Card>
             <Button Type="@ButtonType.Primary" 
                Icon="@IconType.Outline.Read"
                Size="@ButtonSize.Large"
                Shape="@ButtonShape.Round"
                Style="text-align:right;margin-top:1em"
                OnClick="OnReferencingButtonClick">
                Реферировать
            </Button>
            <Divider/>
            <br/>
            <br/>
            <Title Level="3">Результат</Title>
             <TextArea @bind-Value="@Model.SourceText" Placeholder="Здесь будет текст полученного реферата..." MinRows="10" AutoSize="false" />
             <div style="display:flex;gap:3em;margin-top:1em">
                 <p class="mr-3">Формат сохраняемого файла</p>
                 <Select DataSource="@Model.FileSaveFormats" DropdownMaxWidth="200px"
                         @bind-Value="@Model.SelectedFileFormatId"
                         LabelName="@nameof(FileFormat.Name)"
                         ValueName="@nameof(FileFormat.Id)"
                         Placeholder="Формат"
                         AllowClear
                         Style="width:200px">
                 </Select>
                 <Button Type="@ButtonType.Primary"
                         Icon="@IconType.Outline.Save"
                         Size="@ButtonSize.Large"
                         Shape="@ButtonShape.Round"
                         >
                     Сохранить
                 </Button>
             </div>
        </Card>
    </ChildContent>
</PageContainer>

